### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Environment files ###
.env
.env.local
.env.prod

### Docker volumes ###
data/

### OS files ###
.DS_Store
Thumbs.db

### Logs ###
*.log
